<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="4.5; url=http://localhost:8000/">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/in.css' %}" />
    <script
      src="https://kit.fontawesome.com/0cf4c20639.js"
      crossorigin="anonymous"
    ></script>
    <title>입차 완료</title>
  </head>
  <body class="inCar">
    <div class="greeting-container">
      <div class="greeting text-1">고객님 입차가 완료됐습니다.</div>
      <div class="greeting text-2">어서 오십시오.</div>
    </div>
    <div class="car-container">
      <i class="fas fa-car-side car"></i>
    </div>
  </body>
</html>



{% comment %} {{user_car_number}}
{{user_type}}
{{now_date}}
{{valid_ex}} {% endcomment %}