<!DOCTYPE html>
{% load static %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Your Car Number</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <script src="https://kit.fontawesome.com/0cf4c20639.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
</head>
<body>
    <div class="{{CLS_NAME}} container">
        <div class="req-msg">{{ STATE }}를 요청하셨습니다.</div>
        <div class="{{COVER_NAME}}" id="cover">
            <form name="form1" action={{ACTION}} method="POST" class="" role="search" >
                {% csrf_token %}
                <div class="tb">
                    <input  name={{NAME}} type="text" class="cls-input" placeholder="{{ STATE }} 시킬 자동차 번호를 입력하세요." required>
                    <div class="td" id="s-cover">
                        <button type="submit" class="submitBtn" name="carNumBtn">
                            <div id="s-circle"><i class="fas fa-car"></i><i class="fas fa-arrow-right"></i></div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.cls-input').attr('pattern', '^\\d{2,3}\\D\\d{4}$');
    </script>
</body>
</html>