@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap");

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15vh;
  color: #ecf0f1;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: "Black Han Sans";
}

.inParking {
  background-color: #5dade2;
}

.outParking {
  background-color: #ec7063;
}
