<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking System</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class="container">
      <form class="container" action="./coreSys/inputCarNum/" method="POST">
        {% csrf_token %}
        <input class="choice inParking" type="submit" name="state" value="입차">
        <input class="choice outParking" type="submit" name="state" value="출차">      
      </form>
    </div>
  </body>
</html>
