<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking System</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="choice inParking" onclick="location.href='http://naver.com'" >입차</div>
      <div class="choice outParking" onclick="location.href='http://google.com'">출차</div>
    </div>
  </body>
</html>
